.landing-section {
  overflow: hidden;
  margin: 0;
  padding-bottom: 0 !important;
}

.paw-container {
  position: relative;
  z-index: -99;
}

.paw-container .fa-paw {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paw-container .fa-paw:nth-child(1) {
  top: 5rem;
  left: 5rem;
  font-size: 10rem;
  opacity: 0.2;
  rotate: 25deg;
}

.paw-container .fa-paw:nth-child(2) {
  top: 13rem;
  left: 20rem;
  font-size: 9rem;
  transform: rotate(-35deg);
  opacity: 0.2;
}

.paw-container .fa-paw:nth-child(3) {
  top: 30rem;
  left: -1rem;
  font-size: 8.5rem;
  opacity: 0.2;
  rotate: 15deg;
}

.paw-container .fa-paw:nth-child(4) {
  top: 5rem;
  left: 40rem;
  font-size: 9rem;
  transform: rotate(55deg);
  opacity: 0.2;
}

.paw-container .fa-paw:nth-child(5) {
  top: 3rem;
  left: 80rem;
  font-size: 10rem;
  opacity: 0.2;
  rotate: -45deg;
}

.paw-container .fa-paw:nth-child(6) {
  top: 25rem;
  left: 90rem;
  font-size: 11rem;
  transform: rotate(40deg);
  opacity: 0.2;
}

.paw-container .fa-paw:nth-child(7) {
  top: 7rem;
  left: 100rem;
  font-size: 7.5rem;
  opacity: 0.2;
  rotate: 10deg;
}

.paw-container .fa-paw:nth-child(8) {
  top: 15rem;
  left: 110rem;
  font-size: 10rem;
  transform: rotate(-25deg);
  opacity: 0.2;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.landing-text h3 {
  font-size: 3.2rem;
  font-family: var(--font1);
}

.landing-text button {
  outline: none;
  border: none;
  background-color: var(--orange);
  font-family: var(--font1);
  font-size: 2rem;
  padding: 0.5rem 0.4rem;
  border-radius: 10px;
  color: var(--yellow);
  cursor: pointer;
  transition: 300ms;
}

.landing-text button:hover {
  transform: scale(1.1);
}

.landing-content img {
  width: 25rem;
}